*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color:beige ;
    overflow: hidden;
    height: 100vh;
}
.main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 1rem;
    background-color: bisque;
    color: darkred;
}
.container h1, .container p{
    text-align: center;
}
.answers div{
    display: flex;
    align-items: center;
    padding-left: 0.2rem;
    margin-bottom: 0.2rem;
    border: 1px solid rgb(227, 168, 96);
}
.answers label{
    width: 100%;
    height: 2rem;
    margin-left: 0.2rem;
    display: flex;
    align-items: center;
}
.selected{
    color: white;
}
.unclickable{
    pointer-events: none;
}
.btnDiv{
    display: flex;
    justify-content: center;
}
#btn{
    margin-top: 1rem;
    width:100%;
    height: 2rem;
    background-color: darkred;
    color: aliceblue;
    border-radius: 0.5rem;
    
}
.topBar,.bottomBar{
    position: fixed;
    color: aliceblue;
    width: 100vw;
    text-align: center;
    background-color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottomBar{
    bottom: 0;
}
.topBar{
    top: 0;
}
meter{
    margin-left: 1rem;
    margin-right: 1rem;
}
